/* Define the color palette */
:root {
  --background: #EEEBE6;
  --header: #00000099;
  --secondary: #CBDF90;
  --font1: #FFFFFF;
  --accent: #56A3A6;
  --accent2: #0D1821;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  z-index: 2;
  max-height: 12rem;
  position: fixed;
  padding-left: 6em;
  padding-right: 6em;
  width: 100%;
  display: flex;
  background-color: var(--header);
  justify-content: space-between;
}


main {
  height: 100vh;
  display: block;
  min-width: 701px;
}

section  {
  height: 100vh;
  scroll-snap-align: start;
}
.one {
  background-image: url('../Assets/Background.jpg');
}

.two {
  background-color: var(--background);
}
.three {
  background-color:#EE23EE;
}
.four {
  background-image: url('../Assets/Background.jpg');
}

.five {
  background-color:#EE23EE;
}

.nav-links {
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.heading_subtitle {
  font-family: 'Courier New', monospace;
  font-size: 32px;
  font-weight: normal;
}

.navi {
  position: fixed;
  max-height: 10rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  color: var(--font1);
  font-size: 4rem;
}
.polygon {
      width: 100%;
      height: 100vh;
      background-color: var(--background);
      clip-path: polygon(0 100%, 0 80%, 60% 80%, 60% 10%, 90% 10%, 90% 80% ,100% 80%, 100% 100%);
      position: relative;
    }


.content {

  position: absolute;
  display: flex;
  top: 10%;
  left: 60%;
  width: 29%;
  height: 68%;
  padding-top: 1%;
  margin: 0.5%;
  /* background-color: #001000; */
  z-index: 1;
  justify-content: center;
}

#img_me {
  position: absolute;
  max-width: 100%;
  max-height: 60%;
}
.introduction {
  position:absolute;
  /* z-index: 2; */
  top:63%;

  width: 93%;
  height:30%;

  color: #00000;
  text-align: left;
  /* background-color: rgba(255, 255, 255, 0.7); */
  padding: 0px;
  color: #000000;
}
